<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "//www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="//www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>iflux尝试</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="flux尝试"/>
    <meta name="keywords" content="flux尝试"/>
</head>
<body>
<div id="content"></div>
<link rel="stylesheet" href="/static/js/build/style.css"/>
<script type="text/javascript" src="/static/js/build/vendor.dll.js"></script>
<script type="text/javascript" src="<$=app$>"></script>
</body>
</html>
